@import "tailwindcss";

/* body {
  font-family: Arial, Helvetica, sans-serif;
} */

@theme {
  --color-dark-background: #212121;
  --color-background: #f9f9f9;
  --color-dark-accent: #2DC8C5;
  --color-accent: #12918F;
}